DATABASE_URL="postgresql://user:password@localhost:5432/gym_db?schema=public"

# If using HiveMQ Cloud, use your credentials here:
MQTT_BROKER_URL="mqtt://broker.hivemq.com"
MQTT_USERNAME=""
MQTT_PASSWORD=""

# Port for Backend REST API & Websockets
PORT=4000
